@tailwind base;
@tailwind components;
@tailwind utilities;




/********* Media responsive *********/
@media all and (max-width:640px){
    .navbar-mid{
        gap: 15px;
    }
    .grocify img{
        width: 125px;
    }

    .hero-main{
        margin-left: 40px;
    }
    .cooker{
        width: 500px;
        margin-left: 50px;
    }
}

@media all and (max-width:550px){
    .main-div{
        width: 100%;
    }

    .hero-main{
        margin-left: 0px;
    }
 
    .hero-main h1{
        font-size: 40px;
    }
    .hero-main h1 span{
        font-size: 40px;
    }

    .hero-main p{
        font-size: 13px;
    }

    .navbar-mid{
        gap: 8px;
        font-size: 13px;
    }

    .grocify img{
        width: 90px;
    }

    .cart img{
        width: 22px;
    }

    .cooker{
        width: 450px;
        margin-left: 15px;
    }
}
@media all and (max-width:370px){
    .navbar-mid{
        gap: 8px;
        font-size: 11px;
    }

    .main-div{
        width: 100%;
    }

    .grocify img{
        width: 70px;
    }

    .cart img{
        width: 15px;
    }

    .hero-main h1{
        font-size: 45px;
    }
    .hero-main h1 span{
        font-size: 45px;
    }
    .hero-main p{
        font-size: 14px;
    }

    .cooker{
        margin-left: 0px;
    }

    .btn .btn-order{
        font-size: 13px;
        padding:10px 15px ;
    }
    .btn .btn-download{
        font-size: 13px;
    }

}

@media all and (max-width:440px){
    .hero-main{
        margin-left: 20px;
    }
}
@media all and (max-width:580px){
    .hero-main{
        margin-left: 10px;
    }
}

@media all and (max-width:470px){
    .main-div{
        width: 100%;
    }

    .cooker{
        margin-left: 10px;
    }
}
